html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-image: linear-gradient(to bottom, #F9F9F9 0, #F9F9F9 100%);
	color: #555;
}


::selection {
	color: #F9F9F9;
	background-color: black;
}

::moz-selection {
	color: #F9F9F9;
	background-color: black;
}

.navbar-default {
	background-image: linear-gradient(to bottom,#549431 0,#549431 100%);
	border: none;
	border-radius: 0px;
	color: white;
}

.row {
	margin: 0;
}

.nolh {
	line-height: 0px;
}

.mt5 {
	margin-top: 5px;
}

.content-wrap {
	min-height: 100%;
  	/* equal to footer height */
  	margin-bottom: -150px; 
}

.content-wrap:after {
  content: "";
  display: block;
}

.footer {
	padding-top: 5px;
    width: 100%;
    background-image: linear-gradient(to bottom,#549431 0,#549431 100%); /*#1A4A00*/
}

.footer, .content-wrap:after {
	min-height: 150px;
}

.footer {
	color: white;
}

.footer span {
	font-size: 10px;
}

.footer p a {
	text-decoration: none;
	color: white;
}

.input-group input {
	border-radius: 0px;
}

.input-group span button {
	border-radius: 0px;
}

.clear {
	clear: both;
}

.input-group-btn {
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.btn {
	background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
	border: 1px solid #ccc;
	border-left: none;
	color: #555;
}

.btn:hover {

}

ul  li  img {
	float: right;
}

.main-logo {
    text-align: center;
    /*background: url("/leagueofslat/assets/img/main_logo_2.png") no-repeat center center;
    background-size: 35%;
    height: 120px;*/
}

.collapse {
	line-height: 45px;
}

.footer .container-fluid {
	margin-top: 20px;
}


.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	/*color: white;*/
}
.dropdown-menu > li > a {
	background-color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	color: white;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #ccc;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a {
	background-image: linear-gradient(to bottom,#fff 0,#fff 100%);;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-brand {
	color: white;
}



.server .status {
	font-weight: bold;
}

.navbar-header {
	width: 100%;
}

.server {
	width: 100%;
}

.list-group-item-offline {
    color: #a94442;
    background-color: #f2dede;
}

.list-group-item-online {
    color: #3c763d;
    background-color: #dff0d8;
}

/* Font-Color Green*/
.green {
	color: #549431; 
}